{% extends 'base.html.twig' %}

{% block body %}
<div class="flex justify-center min-h-screen bg-black text-white">
    <div class="flex w-full max-w-[1300px]">
        
        <aside class="w-1/4 sticky top-0 h-screen border-r border-gray-800 p-4">
            {{ include('micro_post/_sidebar_left.html.twig') }}
        </aside>

        <main class="w-2/4 border-r border-gray-800">
            <div class="sticky top-0 z-20 bg-black/60 backdrop-blur-md border-b border-gray-800 p-4">
                <h1 class="text-xl font-bold">Per te</h1>
            </div>
            
            <div class="divide-y divide-gray-800">
                {% for post in posts %}
                    {{ include('micro_post/_post.html.twig', {post: post}) }}
                {% endfor %}
            </div>
        </main>

        <aside class="w-1/4 sticky top-0 h-screen p-4 hidden lg:block">
            {{ include('micro_post/_sidebar_right.html.twig', ignore_missing: true) }}
        </aside>
    </div>
</div>
{% endblock %}